@import "../bower_components/bower-bourbon/bourbon";

$font-stack:    Helvetica, sans-serif;
$primary-color: orange;
$secondary-color: green;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
  color: $secondary-color;
}

button {
  @include button(shiny, #ff0000);
}